## NASA Mars News

In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\SageTeam\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
# URL of page to be scraped
url = 'https://www.redplanetscience.com'
browser.visit(url)

In [4]:
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')

# titles = soup.find_all('div', class_='content_title')

# title_list = []

# for title in titles:
#     headline = title.text.strip()
# #     print(headline)
#     title_list.append(headline)

# print(title_list)

In [29]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

titles = soup.find("div", class_="list_text")
titles
top_headline = titles("div")[1].text
top_headline_teaser = titles("div")[2].text
# top_headline_teaser

'The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.'

In [6]:
# browser.quit()

## JPL Mars Space Images

In [6]:
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [7]:
# URL of page to be scraped
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
featured_image = soup.find('div', class_='floating_text_area')
featured_image_url = url + featured_image.find("a")["href"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [9]:
# browser.quit()

## Mars Facts

In [30]:
# Dependencies
import pandas as pd

In [31]:
# URL of page to be scraped
url = 'https://galaxyfacts-mars.com/'

In [32]:
tables_data = pd.read_html(url)
tables_data

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [45]:
table_df = tables_data[0]
table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [46]:
new_header = table_df.iloc[0]
table = table_df[1:]
table.columns = new_header
table

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [47]:
table = table.set_index("Mars - Earth Comparison")
table

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [33]:
mars_facts_table = table.to_html(classes="list-group")
mars_facts_table

'<table border="1" class="dataframe list-group">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [15]:
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [16]:
# URL of page to be scraped
url = 'https://marshemispheres.com/'
browser.visit(url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
hemisphere = soup.find_all('div', class_="description")
# print(hemisphere)

In [19]:
url_list = []
title_list = []

for hemi in hemisphere:
    a_href = hemi.find("a")
    ref = a_href["href"]
    link = url + ref
    url_list.append(link)
    
    h3 = hemi.find("h3")
    title = h3.text.split(" Hemisphere")[0]
    title_list.append(title)
# browser.quit()

In [20]:
url_list

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [21]:
photo_url_list = []

for link in url_list:
#     executable_path = {'executable_path': ChromeDriverManager().install()}
#     browser = Browser('chrome', **executable_path, headless=False)
    browser.visit(link)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    photo = soup.find('div', class_="downloads")
    photo_link = photo.find("a")["href"]
    photo_url = url + photo_link
    photo_url_list.append(photo_url)
    
browser.quit()

In [22]:
  print(photo_url_list)

['https://marshemispheres.com/images/full.jpg', 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg', 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg', 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

In [23]:
hemisphere_image_urls = [    
    {"title":title_list[0], "img_url":photo_url_list[0]},
    {"title":title_list[1], "img_url":photo_url_list[1]},
    {"title":title_list[2], "img_url":photo_url_list[2]},
    {"title":title_list[3], "img_url":photo_url_list[3]}
]
hemisphere_image_urls

[{'title': 'Cerberus',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]